<li>
  <input
    type="text"
    placeholder="Type here"
    class="block h-full input rounded-lg border border-gray-700 focus:border-white focus:ring-0 focus:outline-none w-full max-w-xs p-4 bg-transparent text-xs font-medium text-gray-300"
  />
  <div class="flex items-center justify-end gap-2 pt-3 px-1">
    <button
      type="button"
      class="rounded bg-rose-500 px-2 py-1 text-xs font-medium text-white hover:bg-rose-700"
    >
      Send
    </button>
    <button
      type="button"
      class="rounded bg-gray-200 px-2 py-1 text-xs font-medium text-gray-700 hover:bg-gray-400"
    >
      Cancel
    </button>
  </div>
</li>
