<div class="min-h-screen flex flex-col bg-gray-900">
  <header class="h-12 flex justify-between items-center p-8 bg-gray-50">
    <span>Threads</span>
    <nav class="flex">
      <div class="flex gap-8">
        <div routerLink="/" class="cursor-pointer svg-icon">
          <img src="assets/estate.svg" alt="home" width="30" height="30" />
        </div>
        <div routerLink="user" class="cursor-pointer svg-icon">
          <img src="assets/user.svg" alt="home" width="30" height="30" />
        </div>
      </div>
    </nav>
  </header>
  <main class="p-10 justify-center">
    <router-outlet></router-outlet>
  </main>
</div>
