<article class="rounded-xl border border-gray-700 bg-gray-800 p-4 w-full">
  <div class="flex items-center gap-4 w-full">
    <img
      alt="avatar"
      [src]="
        comment.user.avatarUrl
          ? comment.user.avatarUrl
          : '../../assets/placeholder.jpg'
      "
      class="size-16 rounded-full object-cover"
    />

    <div>
      <h3 class="text-lg font-medium text-white">{{ comment.user.name }}</h3>
    </div>
  </div>
  <div class="mt-4 w-full">
    <div href="#" class="block h-full rounded-lg border border-gray-700 p-4">
      <p class="mt-1 text-xs font-medium text-gray-300">
        {{ comment.text }}
      </p>
    </div>
    <div class="flow-root mt-2">
      <ul class="-m-1 flex flex-wrap justify-end gap-1">
        <li class="p-1 leading-none hover:underline">
          <span class="text-xs font-medium text-gray-300"
            >{{ comment.likes }}
          </span>
          <a href="#" class="text-xs font-medium text-gray-300"> Likes </a>
        </li>

        <li
          class="p-1 leading-none hover:underline"
          (click)="commentService.toggleReplyExpanded(comment._id)"
        >
          <a href="#" class="text-xs font-medium text-rose-500"> Reply </a>
        </li>
        <li class="p-1 leading-none hover:underline">
          <a href="#" class="text-xs font-medium text-gray-300"> Delete </a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="mt-4 space-y-2">
    <app-reply-form
      *ngIf="commentService.isReplyExpanded"
      [parentId]="comment._id"
    ></app-reply-form>
  </ul>

  <ul class="mt-4 space-y-2 flex flex-col gap-2">
    <app-comment-box
      *ngFor="
        let nestedComment of commentsIsMore
          ? nestedComments()
          : nestedComments().slice(0, 3)
      "
      [comment]="nestedComment"
    ></app-comment-box>
  </ul>
  <div
    class="text-xs font-medium text-gray-300 text-center mt-2 cursor-pointer"
    *ngIf="nestedComments() && nestedComments().length > 3"
    (click)="toggleComments()"
  >
    {{ commentsIsMore ? "Show Less" : "Show More" }}
  </div>
</article>
